<div class="container">
    <div class="cardContainer">
        <div class="upper">
            <div class = "circle">
                <img [src]="user.image" alt="User Image">
            </div>
        </div>
        <div class="lower">
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>{{ user.username }}</p>
            <p>Gender: {{ user.gender }}</p>
            <p>{{ user.email }}</p>
            <button (click)="logout()" class="button">Logout</button>
        </div>
    </div>
</div>
