<div class="container">
  <div class="cardContainer">
    <div class="upper">
      <div class="circle"></div>
      <h2>Login</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="lower">
      <input
        type="text"
        formControlName="username"
        placeholder="Username"
        class="input"
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        class="input"
      />
      <button type="submit" class="button">Login</button>
    </form>
  </div>
</div>
