<div class="container">
    <h2>User Table</h2>
    <div class="button-container">
        <button (click)="sortPrice('asc')" class="button">Sort by Price Ascending</button>
        <button (click)="sortPrice('desc')" class="button">Sort by Price Descending</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="header">ID</th>
          <th class="header">Title</th>
          <th class="header">Description</th>
          <th class="header">Category</th>
          <th class="header">Price (USD)</th>
          <th class="header">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="body">{{ product.id }}</td>
          <td class="body">{{ product.title }}</td>
          <td class="body">{{ product.description }}</td>
          <td class="body">{{ product.category }}</td>
          <td class="body">{{ product.price }}</td>
          <td class="body">
            <img [src]="product.thumbnail" alt="Product Image" width="50">
            <button>Update</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
